<label for="server name">Server Name:</label>
<input
  type="text"
  for="property binding"
  class="form-control"
  placeholder="event binded"
  (input)="onServernameTyped($event)"
/>
<input
  type="text"
  for="two-way binding"
  placeholder="two way binded"
  class="form-control"
  [(ngModel)]="serverName"
/>
<!-- <kbd class="bg-primary">{{ serverName }}</kbd> -->
<br />
<br />
<div class="container">
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServers"
    (click)="counter()"
  >
    Add Server
  </button>
  <kbd>{{ count }}</kbd>
  <br />
  <!-- <kbd class="bg-primary">{{ servMessage }}</kbd> -->
  <hr />
  <kbd class="bg-primary" *ngIf="serverCreated; else noServer">
    with *ngIf {{ servMessage }}</kbd
  >
  <ng-template #noServer>
    <div class="p-3 mb-2 bg-danger text-white">No Server is created!</div>
  </ng-template>
  <app-server *ngFor="let server of serversList"></app-server>
</div>
