<label for="server name">Server Name:</label>
<input
  type="text"
  for="property binding"
  class="form-control"
  placeholder="event binded"
  (input)="onServernameTyped($event)"
/>
<input
  type="text"
  for="two-way binding"
  placeholder="two way binded"
  class="form-control"
  [(ngModel)]="serverName"
/>
<!-- <kbd class="bg-primary">{{ serverName }}</kbd> -->
<br />
<br />
<div class="container">
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServers"
    (click)="counter()"
  >
    Add Server
  </button>
  <kbd>{{ count }}</kbd>
  <br />
  <!-- <kbd class="bg-primary">{{ servMessage }}</kbd> -->
  <hr />
  <kbd class="bg-primary" *ngIf="serverCreated">
    with *ngIf {{ servMessage }}</kbd
  >
  <app-server></app-server>
  <app-server></app-server>
  <app-server></app-server>
</div>
